# Database
DB_NAME=file_converter_db
DB_USER=postgres
DB_PASSWORD=changeme

# MinIO
MINIO_VERSION=latest
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:29092